apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: manufacturers-deployment
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: manufacturer
    spec:
      containers:
      - image: ejmric/manufacturers:0.01
        name: manufacturers
        env:
          - name: KUMULUZEE_DISCOVERY_CLUSTER
            value: bluemix
          - name: KUMULUZEE_DISCOVERY_ETCD_HOSTS
            value: http://etcd:2379
          - name: KUMULUZEE_CONFIG_ETCD_HOSTS
            value: http://etcd:2379
          - name: KUMULUZEE_DATASOURCES0_CONNECTIONURL
            value: jdbc:postgresql://postgres-manufacturers:5432/manufacturer
          - name: KUMULUZEE_SERVER_BASEURL
            value: http://169.51.20.118:31331
        ports:
        - containerPort: 8081
          name: server
          protocol: TCP
